<button ng-show="displayLoading" class="btn btn-lg btn-warning">
  <i class="fa fa-refresh fa-spin-custom"></i> Loading...
</button>

<!-- LIST -->
<h2>Notifications</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-8">Name</th>
      <th class="col-md-8">Shop</th>
      <th class="col-md-1">Show</th>
      <th class="col-md-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="notification in notifications">
      <td>{{ notification.name }}</td>
      <td>{{ notification.facilityName }}</td>
      <td>
        <button class="btn btn-primary" ng-click="viewNotificationDetails(notification.id)">
          <i class="fa fa-eye"></i> Details
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="deleteNotification(notification.id)" confirm="Are you sure to delete the notification: {{notification.name}}">
          <i class="fa fa-times"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
