<h2>Assign notification to beacons</h2>

<button ng-show="displayLoading" class="btn btn-lg btn-warning">
  <i class="fa fa-refresh fa-spin-custom"></i> Loading...
</button>

<form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
  <div class="row">
    <div class="errors">
      <div class="error" ng-repeat="error in errors">{{ error.message }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <h3>Select a notification</h3>
      <div class="form-group">
        <div class="col-md-12">
          <select id="notification" class="form-control" ng-model="notification" ng-options="n.name for n in notifications" ></select>
        </div>
      </div>
      <h3>Preview</h3>
      <div id="phone-preview">
        <iframe id="phone-preview-container" frameborder="0" allowfullscreen
          ng-show="notification"
          ng-src="{{ notification.trustedUrl }}"></iframe>
      </div>
    </div> <!-- Col -->
    <div class="col-md-8 col-lg-8" ng-show="notification">
      <h3>Select beacons</h3>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="isSelectAll"></th>
            <th>Facility</th>
            <th>Name</th>
            <th>Major</th>
            <th>Minor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="beacon in beacons">
            <td>
              <input type="checkbox" ng-model="beacon.selected" ng-change="checkCanSave()">
            </td>
            <td>{{ beacon.facilityName }}</td>
            <td>{{ beacon.name }}</td>
            <td>{{ beacon.major }}</td>
            <td>{{ beacon.minor }}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-success ng-class:{'disabled':!canSave};" ng-click="canSave && assign()">
        <i class="fa fa-save"></i> Associate
      </button>
    </div> <!-- Col -->
  </div> <!-- Row -->
</form>
