<section id="addNotif">

  <h2>Notification</h2>

  <button ng-show="displayLoading" class="btn btn-lg btn-warning">
    <i class="fa fa-refresh fa-spin-custom"></i> Loading...
  </button>

  <form class="form-horizontal container-fluid" role="form" ng-show="!displayLoading"
        id="notificationForm" name="notificationForm"
        ng-submit="((edit && !notificationForm.$pristine) || add) && notificationForm.$valid && submit()" novalidate>
    <div class="row">
      <div class="errors col-md-12">
        <div class="error" ng-repeat="error in notificationErrors">{{error.message}}</div>
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="form-group">
          <label class="control-label" for="store">Store:</label>
          <div>
            <select id="store" name="store" class="form-control" ng-model="object.facilityId" ng-readonly="!(edit || add)">
              <option ng-repeat="facility in facilities" value="{{ facility.id }}" ng-disabled="!(edit || add)">{{ facility.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Name:</label>
          <div>
            <input type="text" id="name" name="name" class="form-control" ng-model="object.name" ng-readonly="!(edit || add)" ng-minlength="3" ng-maxlength="50" required>
            <div ng-messages="notificationForm.name.$error"
                 ng-if="notificationForm.$submitted || notificationForm.name.$touched">
              <div ng-messages-include="templates/error_messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Title:</label>
          <div>
            <input type="text" id="title" name="title" class="form-control" ng-model="object.title" ng-readonly="!(edit || add)" ng-minlength="3" ng-maxlength="50" required>
            <div ng-messages="notificationForm.title.$error"
                 ng-if="notificationForm.$submitted || notificationForm.title.$touched">
              <div ng-messages-include="templates/error_messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="subTitle">Sub title:</label>
          <div>
            <input type="text" id="subTitle" name="subTitle" class="form-control" ng-model="object.subTitle" ng-readonly="!(edit || add)" ng-maxlength="50">
            <div ng-messages="notificationForm.subTitle.$error"
                 ng-if="notificationForm.$submitted || notificationForm.subTitle.$touched">
              <div ng-messages-include="templates/error_messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description:</label>
          <!-- <text-angular ng-model="object.shortDescription"
            ta-toolbar="[['h2','h3','bold','italics','ul','justifyLeft','justifyCenter','justifyRight','justifyFull']]" ta-disabled="!(edit || add)"></text-angular> -->
          <textarea id="description" name="description" class="form-control" ng-model="object.shortDescription" ng-readonly="!(edit || add)"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="customWebUrl">Image URL:</label>
          <div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-globe"></i></span>
              <input type="url" id="customWebUrl" name="customWebUrl" class="form-control" aria-describedby="basic-addon1" ng-model="object.customWebUrl" ng-readonly="!(edit || add)"
              required>
            </div>
            <button class="btn btn-default" ng-click="openGallery()" ng-disabled="!(edit || add)">
              <i class="fa fa-picture-o"></i> Gallery
            </button>
            <div ng-messages="notificationForm.customWebUrl.$error"
                 ng-if="notificationForm.$submitted || notificationForm.customWebUrl.$touched">
              <div ng-messages-include="templates/error_messages.html"></div>
            </div>
          </div>
        </div>
       
      </div>
      
      <div class="col-md-12 col-lg-4">
        <h3>Preview</h3>
        <div id="phone-preview">
          <div id="phone-preview-container" class="template" >
            <div id="scroller">
              <h1>{{object.title}}</h1>
              <h2>{{object.subTitle}}</h2>
              <img src="{{object.customWebUrl}}" width="100%"/>
              <div ng-bind-html="object.shortDescription"></div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--
     Row -->
    <div class="row">
      <div class="col-md-12">
        <button type="submit" form="notificationForm" class="btn btn-success" ng-show="edit || add">
          <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-danger" ng-click="reset()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-undo"></i> Reset
        </button>
        <button class="btn btn-warning" ng-click="cancel()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-ban"></i> Cancel Edit
        </button>
        <!-- If Read only mode -->
        <button class="btn btn-success" ng-click="edit = true;" ng-show="!(edit || add)">
          <i class="fa fa-edit"></i> Edit
        </button>
      </div>
    </div>
  </form>
</section>