<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invitation to Proxloop platform</title>
</head>
<body>
    <p>
        Hello <span th:text="${receiverFirstName}"></span>,<br/>
        <br/>
        You have been invited to create your company account on the Proxloop platform, an innovative in-store marketing tool.<br/>
        <br/>
        To accept this invitation and join the platform follow this link:<br/>
        <a href="" th:href="${linkUrl}"><span th:text="${linkUrl}"></span></a><br/>
        <br/>
        Looking forward to having you on our platform!<br/>
        <br/>
        Cheers,<br/>
        The Proxloop team<br/>
        <a href="www.proxloop.com"><img th:src="${logoUrl}" alt="Proxloop"/></a>
    </p>
</body>
</html>