<h2>Beacons statistics</h2>

<button ng-show="displayLoading" class="btn btn-lg btn-warning">
  <i class="fa fa-refresh fa-spin-custom"></i> Loading...
</button>

<form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
  <div class="row">
    <div class="errors">
      <div class="error" ng-repeat="error in errors">{{ error.message }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-5">
      <h3>Select beacons</h3>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="isSelectAll"></th>
            <th>Facility</th>
            <th>Name</th>
            <th>Major</th>
            <th>Minor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="beacon in beacons">
            <td>
              <input type="checkbox" ng-model="beacon.selected" ng-change="checkCanDisplay()">
            </td>
            <td>{{ beacon.facilityName }}</td>
            <td>{{ beacon.name }}</td>
            <td>{{ beacon.major }}</td>
            <td>{{ beacon.minor }}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-success" ng-click="displayStats()">
        <i class="fa fa-save"></i> Display Statistics
      </button>
    </div> <!-- Col -->
    <div class="col-md-7 col-lg-7">
      <div class="col-md-6 col-lg-6">
        <div class="dropdown">
          Start date: 
          <div class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="startDate | date:'medium'"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
          <ul class="dropdown-menu" role="menu">
            <datetimepicker data-ng-model="startDate" data-datetimepicker-config="{ dropdownSelector: '#startDate', minView:'hour' }"/>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="dropdown">
          End date: 
          <div class="dropdown-toggle" id="endDate" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="endDate | date:'medium'"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
          <ul class="dropdown-menu" role="menu">
            <datetimepicker data-ng-model="endDate" data-datetimepicker-config="{ dropdownSelector: '#endDate', minView:'hour' }"/>
          </ul>
        </div>
      </div>
      
      <style type="text/css">
        #chartdiv {
          width : 100%;
          height  : 500px;
        }
      </style>
      <div id="chartdiv" heigth="500px"></div>
    </div> <!-- Col -->
  </div> <!-- Row -->
</form>
