<div ng-message="required">This field is required</div>
<div ng-message="minlength">This field is too short</div>
<div ng-message="maxlength">This field is too long</div>
<div ng-message="passwordVerify">Passwords are not equal</div>
<div ng-message="url">The url is not valid</div>