<div id="imageGallery">
  <h2>Select your picture</h2>
  <div class="col col-lg-12">
    <div class="col col-lg-3" ng-repeat="picture in pictures" ng-click="select(picture)" ng-class="{selected : picture.selected}">
      {{picture.name}}
      <img ng-src="{{picture.publicUrl}}" width="100%"/>
      <button ng-click="delete($index)" confirm="Are you sure to delete this picture ?"><i class="fa fa-trash"/></button>
    </div>
  </div>
  <button class="btn btn-success" ng-click="validateSelection()" ng-if="isSelectable">Select</button>
  <button class="btn btn-warning" ng-click="cancel()" ng-if="isSelectable">Cancel</button>

  <form name="form" role="form" class="form-horizontal container-fluid">
    <h2>Upload a new picture</h2>
    <div class="form-group col col-lg-8">
      <input class="form-control" type="file" accept="image/*" image="image" resize-max-height="300" resize-max-width="250" resize-quality="0.7" />
    </div>
    <div class="form-group col col-lg-4">
      <button class="btn btn-success" ng-click="upload()" no-float>Upload</button>
    </div>
    <div class="form-group col col-lg-12">
      <img ng-show="image" ng-src="{{image.resized.dataURL}}" />
    </div>
  </form>
</div>