<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-include src="'templates/gallery.html'" ></ng-include>
    </div>
  </div>
</div>