<header class="pageHeader"><h2>Welcome in your ProxLoop Management</h2></header>
<section id="homePage">

</section>

<style type="text/css">
	#homePage{
		background-color: #FFFFFF;
		height: 30%;
		width: 40%;
	}
	#devider{
		color: #262722;
		background-color: #262722;		
		width: 100%;
		height: 1px;
	}
</style>
