<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="LeftBarreCtrl">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header"> 
        <span>
          <img ng-if="company.logoUrl" alt="image" width="100%" class="img-circle" ng-src="{{company.logoUrl}}">
          <i ng-if="!company.logoUrl" class="fa fa-copyright fa-fw fa-lg fa-5x"></i>
        </span>
        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{company.name}}</strong>
      </li>
      <li>
        <a ui-sref="home"><i class="fa fa-fw fa-lg fa-home"></i> <span class="nav-label">HOME</span></a>
      </li>
      <li>
        <a><i class="fa fa-fw fa-lg fa-copyright"></i> <span class="nav-label" ui-sref="companies-manage-mine">MY COMPANY</span></a>
      </li>
      <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-users"></i> <span class="nav-label">USERS</span></a>
        <ul>
          <li><a ui-sref="users-all"><i class="fa fa-fw fa-list"></i> Users</a></li>
          <li><a ui-sref="invitations-all"><i class="fa fa-fw fa-list"></i> Invitations</a></li>
          <li><a ui-sref="invitations-new"><i class="fa fa-fw fa-plus"></i> Invite new</a></li>
        </ul>
      </li>
     <!-- <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-copyright"></i> <span class="nav-label">COMPANIES</span></a>
        <ul>
          <li><a ui-sref="companies-manage-all"><i class="fa fa-list"></i> Manage all</a></li>
        </ul>
      </li>-->
      <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-building-o"></i> <span class="nav-label">MY STORES</span></a>
        <ul> 
          <li><a ui-sref="facilities-manage-all"><i class="fa fa-fw fa-list"></i> Manage all</a></li>
          <li><a ui-sref="facilities-add-one"><i class="fa fa-fw fa-plus"></i> Add new</a></li>
        </ul>
      </li>
      
      <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-mobile"></i> <span class="nav-label">NOTIFICATIONS</span></a>
        <ul>
          <li><a ui-sref="notifications-manage-all"><i class="fa fa-fw fa-list"></i> Manage all</a></li>
          <li><a ui-sref="notifications-add-one"><i class="fa fa-fw fa-plus"></i> Add new</a></li>
          <!-- <li><a ui-sref="notifications-assign"><i class="fa fa-fw fa-paperclip"></i> Assign to beacons</a></li> -->
        </ul>
      </li>
      <!-- <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-trophy"></i> <span class="nav-label">AWARDS</span></a>
        <ul>
          <li><a ui-sref="awards-manage-all"><i class="fa fa-list"></i> Manage all</a></li>
          <li><a ui-sref="awards-add-one"><i class="fa fa-plus"></i> Add new</a></li>
        </ul>
      </li> -->
      <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-line-chart"></i> <span class="nav-label">STATISTICS</span></a>
        <ul>
          <li><a ui-sref="statistics-beacons"><i class="fa fa-fw fa-connectdevelop"></i> Beacons</a></li>
          <!-- <li><a ui-sref="statistics-campaigns"><i class="fa fa-list"></i> Campaigns</a></li>
          <li><a ui-sref="statistics-rewards"><i class="fa fa-list"></i> Rewards</a></li>
          <li><a ui-sref="statistics-customers"><i class="fa fa-list"></i> Customers</a></li> -->
        </ul>
      </li>
      <li menuitem>
        <a><i class="fa fa-fw fa-lg fa-connectdevelop"></i> <span class="nav-label">BEACONS</span></a>
        <ul>
          <li><a ui-sref="beacons-manage-all"><i class="fa fa-fw fa-list"></i> Manage all</a></li>
          <li><a ui-sref="beacons-add-one"><i class="fa fa-fw fa-plus"></i> Add new</a></li>
          <li><a ui-sref="beacons-assign-notifications"><i class="fa fa-fw fa-paperclip"></i> Assign notif</a></li>
        </ul>
      </li>
      <li>
        <a ui-sref="gallery"><i class="fa fa-fw fa-lg fa-picture-o"></i> <span class="nav-label">GALLERY</span></a>
      </li>
    </ul>
  </div>
</nav>