<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0;">
  <div class="navbar-header">

   <!-- <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-show="" ng-click="$parent.collapseMenu = !$parent.collapseMenu"><i class="fa fa-bars"></i></a>-->
   <img src="images/logo_nameBL.png" style='height:60px; margin:4px;'>
 </div>
 <ul class="nav navbar-nav navbar-right">
  <a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$root.user.firstName}} {{$root.user.lastName}}<i class="fa fa-user fa-2x"></i> </a>
    <ul class="dropdown-menu">
      <li>
        <div class="navbar-content">
          <div class="row">
            <div class="col-md-5">
              <img src="http://placehold.it/120x120"
              alt="Alternate Text" class="img-responsive" />
              <p class="text-center small">
                <a href="#">Change Photo</a></p>
              </div>
              <div class="col-md-7">
                <span>Bhaumik Patel</span>
                <p class="text-muted small">
                  mail@gmail.com</p>
                  <div class="divider">
                  </div>
                  <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                </div>
              </div>
            </div>
            <div class="navbar-footer">
              <div class="navbar-footer-content">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                  </div>
                  <div class="col-md-6">
                    <a href="login.html" class="btn btn-default btn-sm pull-right">Sign Out</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </nav>