<h2>Login</h2>
<form class="form-horizontal" role="form" class="container-fluid">
  <div class="errors col-md-12" ng-if="loginError">
    <div class="error">{{loginError}}</div>
  </div>
  <div class="form-group">
    <input type="text" id="loginForm-username" class="form-control" ng-model="loginForm.username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" id="loginForm-password" class="form-control" ng-model="loginForm.password" placeholder="Password">
  </div>
  <button class="btn btn-success btn-block btn-lg" ng-click="login()">
    <i class="fa fa-sign-in"></i> Login
  </button>
</form>