<h2>Register</h2>
<form class="form-horizontal" role="form" class="container-fluid" id="registerForm" name="registerForm" ng-submit="registerForm.$valid && register()" novalidate>
  <div class="errors col-md-12" ng-if="registerError">
    <div class="error">{{registerError}}</div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="username">Username:</label>
    <div class="col-md-9">
      <input type="text" id="username" name="username" class="form-control" ng-model="registerObject.username" ng-minlength="3" ng-maxlength="12" required>
      <div ng-messages="registerForm.username.$error"
           ng-if="registerForm.$submitted || registerForm.username.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="firstName">First name:</label>
    <div class="col-md-9">
      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="registerObject.firstName" required>
      <div ng-messages="registerForm.firstName.$error"
           ng-if="registerForm.$submitted || registerForm.firstName.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="lastName">Last name:</label>
    <div class="col-md-9">
      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="registerObject.lastName" required>
      <div ng-messages="registerForm.lastName.$error"
           ng-if="registerForm.$submitted || registerForm.lastName.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="email">Email:</label>
    <div class="col-md-9">
      <input type="email" id="email" name="email" class="form-control" ng-model="registerObject.email" required>
      <div ng-messages="registerForm.email.$error"
           ng-if="registerForm.$submitted || registerForm.email.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
        <div ng-message="email">Email is not valid</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="companyName">Company:</label>
    <div class="col-md-9">
      <input type="text" id="companyName" name="companyName" class="form-control" ng-model="registerObject.companyName" required>
      <div ng-messages="registerForm.companyName.$error"
           ng-if="registerForm.$submitted || registerForm.companyName.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="password">Password:</label>
    <div class="col-md-9">
      <input type="password" id="password" name="password" class="form-control" ng-model="registerObject.password" ng-minlength="5" ng-maxlength="20" required>
      <div ng-messages="registerForm.password.$error"
           ng-if="registerForm.$submitted || registerForm.password.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="verifiedPassword">Verify Password:</label>
    <div class="col-md-9">
      <input type="password" id="verifiedPassword" name="verifiedPassword" class="form-control" ng-model="registerObject.verifiedPassword" required data-password-verify="registerObject.password">
      <div ng-messages="registerForm.verifiedPassword.$error"
           ng-if="registerForm.$submitted || registerForm.verifiedPassword.$touched">
        <div ng-messages-include="templates/error_messages.html"></div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" type="submit" form="registerForm">
    <i class="fa fa-sign-in"></i> Register
  </button>
</form>