<h1 ng-if="invitation.isCompanyCreation">You have been invited to create a company account</h1>

<h1 ng-if="invitation.isFacilityCreation">You have been invited to create a new facility account in the following company</h1>

<h1 ng-if="invitation.isUserCreation">You have been invited to create an account in the following company</h1>

<!-- Display the parent company, except for the creation of a company -->
<div style="margin-top: 20px" ng-if="company">
  <img height="50px" ng-src="{{company.logoUrl}}"/> <h2 style="display: inline">{{company.name}}</h2>
</div>

<!-- Display the rights that the user will have, only in case of a simple user creation -->
<div style="margin-top: 20px" ng-if="roles">
  <h2>Your roles are the following</h2>
  <table class="table table-striped table-hover" width="100%">
    <tr>
      <th>&nbsp;</th>
      <th>Company</th>
      <th>Company Notification</th>
      <th>Facility</th>
      <th>Facility Notification</th>
      <th>Beacon setup</th>
      <th>Users</th>
      <th>Invite users</th>
    </tr>
    <tr>
      <td>None</td>
      <td><input type="radio" disabled ng-model="roles.companyRole" name="companyRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityRole" name="facilityRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.beaconRole" name="beaconRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.userRole" name="userRole" value="none"/></td>
      <td><input type="radio" disabled ng-model="roles.invitationRole" name="invitationRole" value="none"/></td>
    </tr>
    <tr>
      <td>Admin</td>
      <td><input type="radio" disabled ng-model="roles.companyRole" name="companyRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityRole" name="facilityRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.beaconRole" name="beaconRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.userRole" name="userRole" value="admin"/></td>
      <td><input type="radio" disabled ng-model="roles.invitationRole" name="invitationRole" value="admin"/></td>
    </tr>
    <tr>
      <td>Editor</td>
      <td><input type="radio" disabled ng-model="roles.companyRole" name="companyRole" value="editor"/></td>
      <td><input type="radio" disabled ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="editor"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityRole" name="facilityRole" value="editor"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="editor"/></td>
      <td></td>
    </tr>
    <tr>
      <td>Viewer</td>
      <td><input type="radio" disabled ng-model="roles.companyRole" name="companyRole" value="viewer"/></td>
      <td><input type="radio" disabled ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="viewer"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityRole" name="facilityRole" value="viewer"/></td>
      <td><input type="radio" disabled ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="viewer"/></td>
      <td></td>
    </tr>
  </table>
</div>

<form style="margin-top: 20px" class="form-horizontal" role="form" class="container-fluid" id="registerForm" name="registerForm" ng-submit="registerForm.$valid && register()" novalidate>
  <div class="errors col-md-12" ng-if="errors">
    <div class="error" ng-repeat="error in errors">{{error.message}}</div>
  </div>
  <!-- User form, always present -->
  <div class="col col-lg-6">
    <h2>User information</h2>
    <div class="form-group">
      <label class="control-label col-md-3" for="username">Username:</label>
      <div class="col-md-9">
        <input type="text" id="username" name="username" class="form-control" ng-model="registerObject.username" ng-minlength="3" ng-maxlength="12" required>
        <div ng-messages="registerForm.username.$error"
             ng-if="registerForm.$submitted || registerForm.username.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="firstName">First name:</label>
      <div class="col-md-9">
        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="registerObject.firstName" required>
        <div ng-messages="registerForm.firstName.$error"
             ng-if="registerForm.$submitted || registerForm.firstName.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="lastName">Last name:</label>
      <div class="col-md-9">
        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="registerObject.lastName" required>
        <div ng-messages="registerForm.lastName.$error"
             ng-if="registerForm.$submitted || registerForm.lastName.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="email">Email:</label>
      <div class="col-md-9">
        <input type="email" id="email" name="email" class="form-control" ng-model="registerObject.email" required>
        <div ng-messages="registerForm.email.$error"
             ng-if="registerForm.$submitted || registerForm.email.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
          <div ng-message="email">Email is not valid</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="password">Password:</label>
      <div class="col-md-9">
        <input type="password" id="password" name="password" class="form-control" ng-model="registerObject.password" ng-minlength="5" ng-maxlength="20" required>
        <div ng-messages="registerForm.password.$error"
             ng-if="registerForm.$submitted || registerForm.password.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="verifiedPassword">Verify Password:</label>
      <div class="col-md-9">
        <input type="password" id="verifiedPassword" name="verifiedPassword" class="form-control" ng-model="registerObject.verifiedPassword" required data-password-verify="registerObject.password">
        <div ng-messages="registerForm.verifiedPassword.$error"
             ng-if="registerForm.$submitted || registerForm.verifiedPassword.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Company form, only when the user is asked to create a company -->
  <div class="col col-lg-6" ng-if="invitation.isCompanyCreation">
    <h2>Company Information</h2>
    <div class="form-group" >
      <label class="control-label col-md-3" for="companyName">Name:</label>
      <div class="col-md-9">
        <input type="text" id="companyName" name="companyName" class="form-control" ng-model="registerObject.company.name" required>
        <div ng-messages="registerForm.company.name.$error"
             ng-if="registerForm.$submitted || registerForm.company.name.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-md-3" for="companyName">Description:</label>
      <div class="col-md-9">
        <input type="text" id="companyDescription" name="companyDescription" class="form-control" ng-model="registerObject.company.description" required>
        <div ng-messages="registerForm.company.description.$error"
             ng-if="registerForm.$submitted || registerForm.company.description.$touched">
          <div ng-messages-include="templates/error_messages.html"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Facility form, only when the user is asked to create a facility -->
  <div ng-if="invitation.isFacilityCreation">
    <h2>Company Information</h2>
    <!-- Set the form to create the facility -->
  </div>


  <button class="btn btn-success btn-block btn-lg" type="submit" form="registerForm">
    <i class="fa fa-sign-in"></i> Register
  </button>
</form>