<!-- Add Company -->
<h2>New Company</h2>
<div class="addCompany">
	<button class="btn" ng-click="displayAddForm=true;" ng-show="!displayAddForm">
    <span class="glyphicon glyphicon-plus"></span> Add a Company
  </button>
  <tr>
	<div ng-show="displayAddForm">
		<div class="errors">
      <div class="error" ng-repeat="error in addCompanyErrors">{{error.message}}</div>
    </div>
	  <form class="form-vertical">
		  <div class="form-group">
		    <label class="col control-label">Code:</label>
		    <div class="col">
		       <input type="text" ng-model="companyCode" ng-disabled="edit" placeholder="Code">
		    </div>
		  </div> 
		  <div class="form-group">
		    <label class="col control-label">Name:</label>
		    <div class="col">
		       <input type="text" ng-model="companyName" ng-disabled="edit" placeholder="Name">
		    </div>
		  </div>
		</form>
		<tr>
		<button class="btn btn-success" ng-click="insertCompany()">
	    <span class="glyphicon glyphicon-save"></span> Save the Company
	  </button>
	  <button class="btn btn-warning" ng-click="displayAddForm=false;">
	    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
	  </button>
	</div>
</div>

<!-- LIST -->
<h2>Companies</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in companies">
      <td>{{ company.code }}</td>
      <td>{{ company.name }}</td>
      <td>
        <button class="btn btn-primary" ng-click="updateCompany(company.code)">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="deleteCompany(company.code)" confirm="Are you sure to delete the company: {{company.code}}">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>