<section id="addNotif">

  <h2>My Company</h2>

  <button ng-show="displayLoading" class="btn btn-lg btn-warning">
    <i class="fa fa-refresh fa-spin-custom"></i> Loading...
  </button>

  <form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
    <div class="row">
      <div class="errors col-md-12">
        <div class="error" ng-repeat="error in editErrors">{{error.message}}</div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-group">
          <label class="control-label col-md-2" for="title">Name:</label>
          <div class="col-md-10">
            <input type="text" id="title" class="form-control" ng-model="object.name" ng-readonly="!(edit || add)">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="description">Description:</label>
          <div class="col-md-10"> 
            <input type="text" id="description" class="form-control" ng-model="object.description" ng-readonly="!(edit || add)">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="image">Logo URL:</label>
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-globe"></i></span>
              <input type="url" id="image" class="form-control" aria-describedby="basic-addon1" ng-model="object.logoUrl" ng-readonly="!(edit || add)">
            </div>
            <button class="btn btn-default" ng-click="openGallery()" ng-disabled="!(edit || add)">
              <i class="fa fa-picture-o"></i> Gallery
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">&nbsp;</<label>
          <div class="col-md-10">
            <img src="{{object.logoUrl}}" width="100px"/>
          </div>
        </div>
      </div>
    </div> <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- If edit mode -->
        <button class="btn btn-success" ng-click="update()" ng-show="edit">
          <i class="fa fa-save"></i> Save the Company
        </button>
        <button class="btn btn-danger" ng-click="reset()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-undo"></i> Reset
        </button>
        <button class="btn btn-warning" ng-click="cancel()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-ban"></i> Cancel Edit
        </button>
        <!-- If Read only mode -->
        <button class="btn btn-success" ng-click="edit = true;" ng-show="!(edit || add)">
          <i class="fa fa-edit"></i> Edit
        </button>
        <!-- Add mode -->
        <button class="btn btn-success" ng-click="insert()" ng-show="add">
          <i class="fa fa-save"></i> Add the Company
        </button>
      </div>
    </div>
  </form>
</section>