<h2>Assign notifications to beacons</h2>

<button ng-show="displayLoading" class="btn btn-lg btn-warning">
  <i class="fa fa-refresh fa-spin-custom"></i> Loading...
</button>

<form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
  <div class="row">
    <div class="errors">
      <div class="error" ng-repeat="error in errors">{{ error.message }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-3">
      <h3>Select a beacon</h3>
      <div class="form-group">
        <div class="col-md-12">
          <select id="beacon" class="form-control" ng-model="beacon" ng-options="b.name for b in beacons" ></select>
        </div>
      </div>
    </div> <!-- Col -->
    <div class="col-md-12 col-lg-9" ng-show="notificationsAssigned">
      <h3>Configure notifications</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-4">Notification</th>
            <th class="col-md-3">Start Date</th>
            <th class="col-md-3">End Date</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="notifAssigned in notificationsAssigned">
            <td>{{ notifAssigned.notificationName }}</td>
            <td>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="notifAssigned.startDate" data-autoclose="1" placeholder="Date" bs-datepicker>
              </div>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="notifAssigned.startDate" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" bs-timepicker data-length="1" data-minute-step="5" data-arrow-behavior="picker">
              </div>
            </td>
            <td>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="notifAssigned.endDate" data-autoclose="1" placeholder="Date" bs-datepicker>
              </div>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="notifAssigned.endDate" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" data-min-date="{{notifAssigned.startDate}}" bs-timepicker>
              </div>
            </td>
            <td>
              <button class="btn btn-danger" ng-click="notificationsAssigned.splice($index, 1)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <select id="notification" class="form-control" ng-model="notification" ng-options="n.name for n in notifications" ></select>
            </td>
            <td>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="startDate" data-autoclose="1" placeholder="Date" bs-datepicker>
              </div>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="startDate" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" data-min-date="today" bs-timepicker>
              </div>
            </td>
            <td>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="endDate" data-autoclose="1" placeholder="Date" bs-datepicker>
              </div>
              <div class="form-group col col-lg-6">
                <input type="text" class="form-control" ng-model="endDate" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" data-min-date="{{startDate}}" bs-timepicker>
              </div>
            </td>
            <td>
              <button class="btn btn-primary" ng-click="addAssignment()">
                <i class="fa fa-plus"></i> Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="updateAssignments()">
        <i class="fa fa-floppy-o"></i> Save changes
      </button>
    </div> <!-- Col -->
  </div> <!-- Row -->
</form>
