<!-- LIST -->
<h2>Beacons</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Facility</th>
      <th>Name</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Battery Level</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="beacon in beacons">
      <td>{{ beacon.facilityName }}</td>
      <td>{{ beacon.name }}</td>
      <td>{{ beacon.major }}</td>
      <td>{{ beacon.minor }}</td>
      <td><progressbar value="beacon.batteryLevel" type="{{ getBatteryLevelType(beacon.batteryLevel) }}">{{ beacon.batteryLevel }}%</progressbar></td>
      <td>
        <button class="btn btn-primary" ng-click="edit(beacon.id)">
          <i class="fa fa-pencil-square-o"></i> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="delete(beacon.id)" confirm="Are you sure to delete the beacon: {{beacon.name}}">
          <i class="fa fa-times"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>