<section id="addNotif">

  <h2>Beacon</h2>

  <button ng-show="displayLoading" class="btn btn-lg btn-warning">
    <i class="fa fa-refresh fa-spin-custom"></i> Loading...
  </button>

  <form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
    <div class="row">
      <div class="errors col-md-12">
        <div class="error" ng-repeat="error in editBeaconErrors">{{error.message}}</div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="form-group">
          <label class="control-label col-md-2" for="store">Store:</label>
          <div class="col-md-10">
            <select id="store" class="form-control" ng-model="object.facilityId">
              <option ng-repeat="facility in facilities" value="{{ facility.id }}">{{ facility.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="title">Name:</label>
          <div class="col-md-10">
            <input type="text" id="title" class="form-control" ng-model="object.name" ng-readonly="!(edit || add)">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="mac">MAC Address:</label>
          <div class="col-md-10"> 
            <input type="text" id="mac" class="form-control" ng-model="object.mac" ng-readonly="!(edit || add)">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="uuid">UUID:</label>
          <div class="col-md-10"> 
            <input type="text" id="uuid" class="form-control" ng-model="object.uuid" ng-readonly="!(edit || add)">
          </div>
        </div>
        <div class="form-group">
          <div class="form-group col-md-6">
            <label class="control-label col-md-5" for="major">Major:</label>
            <div class="col-md-7"> 
              <input type="text" id="major" class="form-control" ng-model="object.major" ng-readonly="!(edit || add)">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-5" for="minor">Minor:</label>
            <div class="col-md-7"> 
              <input type="text" id="minor" class="form-control" ng-model="object.minor" ng-readonly="!(edit || add)">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group col-md-6">
            <label class="control-label col-md-5" for="txThreshold">TX:</label>
            <div class="col-md-7"> 
              <input type="text" id="txThreshold" class="form-control" ng-model="object.txThreshold" ng-readonly="!(edit || add)"/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-5" for="broadcastingPower">B.Power:</label>
            <div class="col-md-7"> 
              <input type="number" id="broadcastingPower" class="form-control" ng-model="object.broadcastingPower" ng-readonly="!(edit || add)"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="batteryLevel">Battery:</label>
          <div class="col-md-10"> 
            <input type="number" id="batteryLevel" class="form-control" ng-model="object.batteryLevel" ng-readonly="!(edit || add)"/>
          </div>
        </div>
      </div>
    </div> <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- If edit mode -->
        <button class="btn btn-success" ng-click="update()" ng-show="edit">
          <i class="fa fa-save"></i> Save the Beacon
        </button>
        <button class="btn btn-danger" ng-click="reset()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-undo"></i> Reset
        </button>
        <button class="btn btn-warning" ng-click="cancel()" ng-show="edit" confirm="All modification will be lost, continue ?">
          <i class="fa fa-ban"></i> Cancel Edit
        </button>
        <!-- If Read only mode -->
        <button class="btn btn-success" ng-click="edit = true;" ng-show="!(edit || add)">
          <i class="fa fa-edit"></i> Edit
        </button>
        <!-- Add mode -->
        <button class="btn btn-success" ng-click="insert()" ng-show="add">
          <i class="fa fa-save"></i> Add the Beacon
        </button>
      </div>
    </div>
  </form>
</section>