<!-- LIST -->
<h2>My Stores</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="facility in facilities">
      <td>{{ facility.name }}</td>
      <td>
        <button class="btn btn-primary" ng-click="edit(facility.id)">
          <i class="fa fa-pencil-square-o"></i> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="delete(facility.id)" confirm="Are you sure to delete the store: {{facility.name}}">
          <i class="fa fa-times"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>