<!-- LIST -->
<h2>Invitations</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>To</th>
      <th>Type</th>
      <th>Resend</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invitation in invitations">
      <td>{{ invitation.email }}</td>
      <td>
        <span ng-show="invitation.action == 'CREATE_USER'">Create user</span>
        <span ng-show="invitation.action == 'CREATE_FACILITY'">Create shop</span>
      </td>
      <td>
        <button class="btn btn-primary" ng-click="resendInvitation(invitation.id)">
          <i class="fa fa-paper-plane"></i> Resend
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="delete(invitation.id)" confirm="Are you sure to delete the invitation to {{invitation.email}}">
          <i class="fa fa-trash-o"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>