<div bs-active-pane="'invite_create_user'" bs-tabs onload="">
  <div title="Invite to create a shop" name="invite_create_shop" bs-pane>
    <h3>Invite a user to create an account and to create a shop under the company</h3>
    <form class="form-horizontal" role="form" class="container-fluid" id="inviteShopForm" name="inviteShopForm" ng-submit="inviteShopForm.$valid && inviteShop()" novalidate>
      <div class="form-group col-lg-6">
        <label class="control-label col-md-3" for="firstName">First Name:</label>
        <div class="col-md-9">
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="invitation.firstName" required>
          <div ng-messages="inviteShopForm.firstName.$error"
               ng-if="inviteShopForm.$submitted || inviteShopForm.firstName.$touched">
            <div ng-messages-include="templates/error_messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label class="control-label col-md-3" for="email">Email:</label>
        <div class="col-md-9">
          <input type="email" id="email" name="email" class="form-control" ng-model="invitation.email" required>
          <div ng-messages="inviteShopForm.email.$error"
               ng-if="inviteShopForm.$submitted || inviteShopForm.email.$touched">
            <div ng-messages-include="templates/error_messages.html"></div>
            <div ng-message="email">Email is not valid</div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" type="submit"><i class="fa fa-envelope-o"></i> Invite</button>
    </form>
  </div>
  <div title="Invite to create a user" name="invite_create_user" bs-pane>
    <h3>Invite a user to create an account and set its rights</h3>
    <form class="form-horizontal" role="form" class="container-fluid" id="inviteUserForm" name="inviteUserForm" ng-submit="inviteUserForm.$valid && inviteUser()" novalidate>
      <div class="form-group col-lg-6">
        <label class="control-label col-md-3" for="firstName">First Name:</label>
        <div class="col-md-9">
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="invitation.receiverFirstName" required>
          <div ng-messages="inviteUserForm.firstName.$error"
               ng-if="inviteUserForm.$submitted || inviteUserForm.firstName.$touched">
            <div ng-messages-include="templates/error_messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="email">Email:</label>
        <div class="col-lg-4">
          <input type="email" id="email" name="email" class="form-control" ng-model="invitation.email" required>
          <div ng-messages="inviteUserForm.email.$error"
               ng-if="inviteUserForm.$submitted || inviteUserForm.email.$touched">
            <div ng-messages-include="templates/error_messages.html"></div>
            <div ng-message="email">Email is not valid</div>
          </div>
        </div>
      </div>
      <label class="control-label">Rights:</label>
      <table class="table table-striped table-hover" width="100%">
        <tr>
          <th>&nbsp;</th>
          <th>Company</th>
          <th>Company Notification</th>
          <th>Facility</th>
          <th>Facility Notification</th>
          <th>Beacon setup</th>
          <th>Users</th>
          <th>Invite users</th>
        </tr>
        <tr>
          <td>None</td>
          <td><input type="radio" ng-model="roles.companyRole" name="companyRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.facilityRole" name="facilityRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.beaconRole" name="beaconRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.userRole" name="userRole" value="none"/></td>
          <td><input type="radio" ng-model="roles.invitationRole" name="invitationRole" value="none"/></td>
        </tr>
        <tr>
          <td>Admin</td>
          <td><input type="radio" ng-model="roles.companyRole" name="companyRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.facilityRole" name="facilityRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.beaconRole" name="beaconRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.userRole" name="userRole" value="admin"/></td>
          <td><input type="radio" ng-model="roles.invitationRole" name="invitationRole" value="admin"/></td>
        </tr>
        <tr>
          <td>Editor</td>
          <td><input type="radio" ng-model="roles.companyRole" name="companyRole" value="editor"/></td>
          <td><input type="radio" ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="editor"/></td>
          <td><input type="radio" ng-model="roles.facilityRole" name="facilityRole" value="editor"/></td>
          <td><input type="radio" ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="editor"/></td>
          <td></td>
        </tr>
        <tr>
          <td>Viewer</td>
          <td><input type="radio" ng-model="roles.companyRole" name="companyRole" value="viewer"/></td>
          <td><input type="radio" ng-model="roles.companyNotificationRole" name="companyNotificationRole" value="viewer"/></td>
          <td><input type="radio" ng-model="roles.facilityRole" name="facilityRole" value="viewer"/></td>
          <td><input type="radio" ng-model="roles.facilityNotificationRole" name="facilityNotificationRole" value="viewer"/></td>
          <td></td>
        </tr>
      </table>
      <button class="btn btn-success" type="submit"><i class="fa fa-envelope-o"></i> Invite</button>
    </form>
  </div>
</div>