<!-- LIST -->
<h2>Users</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Fist Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{ user.username }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.roles }}</td>
      <td>
        <button class="btn btn-danger" ng-click="delete(user.username)" confirm="Are you sure to delete the user to {{user.username}}" disabled>
          <i class="fa fa-trash-o"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>