<h2>Award</h2>

<button ng-show="displayLoading" class="btn btn-lg btn-warning">
  <i class="fa fa-refresh fa-spin-custom"></i> Loading...
</button>

<form class="form-horizontal" role="form" ng-show="!displayLoading" class="container-fluid">
  <div class="row">
    <div class="errors col-md-12">
      <div class="error" ng-repeat="error in editAwardErrors">{{error.message}}</div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label class="control-label col-md-2" for="vendor">Vendor:</label>
        <div class="col-md-10">
          <input type="text" id="vendor" class="form-control" ng-model="object.vendor" ng-readonly="!(edit || add)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="title">Title:</label>
        <div class="col-md-10">
          <input type="text" id="title" class="form-control" ng-model="object.title" ng-readonly="!(edit || add)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="description">Description:</label>
        <div class="col-md-10"> 
          <input type="text" id="description" class="form-control" ng-model="object.description" ng-readonly="!(edit || add)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="image">Image URL:</label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-globe"></i></span>
            <input type="url" id="image" class="form-control" aria-describedby="basic-addon1" ng-model="object.imageUrl" ng-readonly="!(edit || add)">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" for="loops">Loops:</label>
        <div class="col-md-10"> 
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{object.loops}}</i></span>
            <input type="range" max="50" min="1" id="loops" class="form-control" ng-model="object.loops" ng-readonly="!(edit || add)">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3">
      <h3>Preview</h3>
      <div id="phone-preview">
        <div id="phone-preview-container" class="template" ng-show="object">
          <h1>{{object.vendor}}</h1>
          <h2>{{object.title}}</h2>
          <img src="{{object.imageUrl}}" width="100%"/>
          <p>{{object.description}}</p>
        </div>
      </div>
    </div>
  </div> <!-- Row -->
  <div class="row">
    <div class="col-md-12">
      <!-- If edit mode -->
      <button class="btn btn-success" ng-click="update()" ng-show="edit">
        <i class="fa fa-save"></i> Save the Award
      </button>
      <button class="btn btn-danger" ng-click="reset()" ng-show="edit" confirm="All modification will be lost, continue ?">
        <i class="fa fa-undo"></i> Reset
      </button>
      <button class="btn btn-warning" ng-click="cancel()" ng-show="edit" confirm="All modification will be lost, continue ?">
        <i class="fa fa-ban"></i> Cancel Edit
      </button>
      <!-- If Read only mode -->
      <button class="btn btn-success" ng-click="edit = true;" ng-show="!(edit || add)">
        <i class="fa fa-edit"></i> Edit
      </button>
      <!-- Add mode -->
      <button class="btn btn-success" ng-click="insert()" ng-show="add">
        <i class="fa fa-save"></i> Add the Award
      </button>
    </div>
  </div>
</form>
