
  <button ng-show="displayLoading" class="btn btn-lg btn-warning">
    <i class="fa fa-refresh fa-spin-custom"></i> Loading...
  </button>

  <!-- LIST -->
  <h2>Awards</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Title</th>
        <th>Description</th>
        <th>Loop</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="award in awards">
        <td>{{ award.vendor }}</td>
        <td>{{ award.title }}</td>
        <td>{{ award.description }}</td>
        <td>{{ award.loops }}</td>
        <td>
          <button class="btn btn-primary" ng-click="detail(award.id)">
            <i class="fa fa-eye"></i> Details
          </button>
        </td>
        <td>
          <button class="btn btn-primary" ng-click="edit(award.id)">
            <i class="fa fa-pencil"></i> Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger" ng-click="delete(award.id)" confirm="Are you sure to delete the award: {{award.title}}">
            <i class="fa fa-times"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
